pipeline/T_Switch_copy1.json
{
	"name": "T_Switch_copy1",
	"properties": {
		"activities": [
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Lookup1').output.valueOutput1",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "ADDRESS_INDIA",
							"activities": [
								{
									"name": "Wait1_Output",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "ADDRESS_USA",
							"activities": [
								{
									"name": "Wait1_Output2",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Wait1_others",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT COUNTRY FROM\nDBO.ADDRESS_COMMON",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dynamic_table",
						"type": "DatasetReference",
						"parameters": {
							"tbtable": "ADDRESS_COMMON"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}